<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.sortiraparis.com/images/80/69688/610099-cinema-les-films-de-decembre-2020.jpg);">
  <div class="container">
    <h1>Save any <strong>kind</strong> of <strong>Movies</strong>!</h1>
  </div>
</div>
<div class="container">
<h1>Lists</h1>
<div class="cards">
<% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
<p><%= link_to list["name"], list_path(list["id"]), class: "text-decoration-none" %></p>
</div>
<% end %>
</div>
</div>
